
<style>
  .back{
    background-color: rgb(202, 207, 202);
  }
.back{
  background-image: url(https://bit.ly/3bLqEWy);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 600px;
  background-position-x: center;
  
}
p{
  padding-left: 200px;
  padding-right: 200px;
}

img{
  padding-top: 100px;
  padding-left: 400px;
  
}

h1{
  color: brown;
  text-align: center;
  text-decoration: underline;
}



</style>
<h1>  QUOTES</h1>
<div class="back">

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

              

   
        </div>
<div class="container-fluid">
  <div class="main">
    <div class="heading">
      <h2>Quote of the Day</h2>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of goals; let i=index'>
          <div class="quote" >
              <h4 id={{i}} appHighlight>{{quote.name}}</h4> 
              <app-ali *ngIf='quote.showDescription' [ali]='quote' (isComplete) = 'deleteQuote($event,i)'></app-ali>
              <button (click)='toggleDetails(i)' class="btn btn-primary">Details</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-goal-form (addQuote)="addNewQuote($event)"></app-goal-form>
      </div>
    </div>  
  </div> 
</div>